{{#if session.isAuthenticated}}
    Logged in as {{session.currentUser.name}}
    <img src={{session.currentUser.imageUrl}} height="20"/>
    <button {{action "signOut"}}>Sign out</button>
{{else}}
    <button {{action "signIn" "google"}}>Sign in</button>
{{/if}}

<h2 id="title">To-do List!</h2>

{{outlet}}
