{{#if session.isAuthenticated}}
    Logged in as {{session.currentUser.displayName}}
    <button {{action "signOut"}}>Sign out</button>
{{else}}
    <button {{action "signIn" "google"}}>Sign in</button>
{{/if}}

<h2 id="title">To-do List!</h2>

{{outlet}}
